/* home.html */

/* app.html */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

h1,
h3 {
  color: rgb(166, 0, 0);
}

h2,
h4 {
  color: rgb(35, 3, 141);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

section {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: #0054a9;
  color: white;
  background-color: #0054a9;
  margin-top: 1rem;
}

button:hover {
  background-color: #4a97e5;
}

input {
  height: 20px;
  padding: 5px;
  text-align: center;
}

select,
option {
  height: 33px;
  padding: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
