<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Práctica 01</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Anderson Daniel Cango Samuisa</h1>
    <h2>Metodologías Ágiles</h2>

    <div class="grid-container">
      <section>
        <h3>Calculadora Básica</h3>
        <form
          th:action="@{/calculate}"
          th:object="${calculatorForm}"
          method="post"
        >
          <main>
            <input type="number" step="any" th:field="*{a}" />
            <select th:field="*{op}">
              <option value="+">+</option>
              <option value="-">-</option>
              <option value="*">*</option>
              <option value="/">/</option>
            </select>
            <input type="number" step="any" th:field="*{b}" />
          </main>
          <button type="submit">Calcular</button>
          <h4><span th:text="${result}"></span></h4>
        </form>
      </section>

      <section>
        <h3>Número par</h3>
        <form th:action="@{/pair}" method="post">
          <main>
            <input type="number" step="any" name="a" th:value="${a}" />
          </main>
          <button type="submit">Verificar</button>
          <h4><span th:text="${pairResult}"></span></h4>
        </form>
      </section>

      <section>
        <h3>Cuadrado de un número</h3>
        <form th:action="@{/square}" method="post">
          <main>
            <input
              type="number"
              step="any"
              name="firstNumber"
              th:value="${firstNumber}"
            />
            <input
              type="number"
              step="any"
              name="secondNumber"
              th:value="${secondNumber}"
            />
          </main>
          <button type="submit">Verificar</button>
          <h4><span th:text="${squareResult}"></span></h4>
        </form>
      </section>

      <section>
        <h3>Palabras Palídromas</h3>
        <form th:action="@{/palindrome}" method="post">
          <main>
            <input type="text" step="any" name="word" th:value="${word}" />
          </main>
          <button type="submit">Verificar</button>
          <h4><span th:text="${palindromeResult}"></span></h4>
        </form>
      </section>
    </div>
  </body>
</html>
